{% extends 'base.html' %}
{% block title %}
  Criminals Page
{% endblock %}

{% block content %}
    
    <!-- BEGIN Search Bar-->
    <body class="text-center">
        <div class="container">
            <form method="POST" class="form-signin" style="color:white">
                <h1>
                {{ person.hidden_tag() }}
                    Enter a first name
                </h1>
                <br>
                {{ person.firstname(class="form-control", placeholder="Enter a name") }}
                <br>
                <h1>
                {{ person.hidden_tag() }}
                    Enter a last name
                </h1>
                <br>
                {{ person.lastname(class="form-control", placeholder="Enter a name") }}
                <br>
    
    
                {{ person.submit(class="btn btn-lg btn-block btn-primary") }}
    
            </form>
        </div>
    </body>
    <!-- END Search Bar-->

    <!-- BEGIN Display User Input-->
    {{ person.firstname.data }}
    {{ person.lastname.data }}
    <!-- End User Input-->

{% endblock %}