{% extends 'base.html' %}
{% block title %}
  Add Officer Page
{% endblock %}

{% block content %}
    <!-- Attempt-->
    <!-- Attempt-->
    <body class="left">
        <div class="container">
            <div class="row">
                <!-- Form for adding an officer -->
                <div class="col-md-6">
                    <form method="POST" class="form-signin">
                        {{ addOfficer.csrf_token }}
                        <h2 class="form-signin-heading">Add Officer</h2>
                        <div class="form-group">
                            {{ addOfficer.firstname1(class="form-control", placeholder="Enter an officer firstname to add") }}
                        </div>
                        <div class="form-group">
                            {{ addOfficer.lastname1(class="form-control", placeholder="Enter an officer lastname to add") }}
                        </div>
                        <div class="form-group">
                            {{ addOfficer.precinct(class="form-control", placeholder="Enter an officer precinct to add") }}
                        </div>
                        <div class="form-group">
                            {{ addOfficer.badge(class="form-control", placeholder="Enter an officer badge # to add") }}
                        </div>
                        <div class="form-group">
                            {{ addOfficer.phone(class="form-control", placeholder="Enter an officer phone # to add") }}
                        </div>
                        <div class="form-group">
                            {{ addOfficer.status(class="form-control", placeholder="Enter an officer status to add [A/I]") }}
                        </div>
                            {{ addOfficer.submit(class="btn btn-lg btn-block btn-success") }}
                    </form>
                </div>
    
            </div>
        </div>
    </body>
    
    <br></br>
    <!-- END Search Bar-->

    <!-- BEGIN Display User Input-->
   

    <!-- End User Input-->
    <!-- Show Officer Queries -->
    
     <!-- Show Officer Queries -->
{% endblock %}