{% extends 'base.html' %}
{% block title %}
  Criminals Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <br/>
            <form method="POST" class="form-signin">
                <div>{{ addCriminal.submit(class=" btn-lg btn btn-success") }}</div>
                <br/>
                <div>{{ addCriminal.firstname2(class="form-control", placeholder="Enter an criminal firstname to add") }}</div>
                <br/>
                <div>{{ addCriminal.lastname2(class="form-control", placeholder="Enter an criminal lastname to add") }}</div>
                <br/>
            </form>
            <form method="POST" class="form-signin">
                <div>{{ deleteCriminal.submit(class=" btn-lg btn btn-danger") }}</div>
                <br/>
                {{ deleteCriminal.hidden_tag() }}
                <div>{{ deleteCriminal.firstname4(class="form-control", placeholder="Enter criminal firstname to delete") }}</div>
                <br/>
                {{ deleteCriminal.hidden_tag() }}
                <div>{{ deleteCriminal.lastname4(class="form-control", placeholder="Enter criminal lastname to delete") }}</div>
                <br/>
            </form>
    </div>
</body>
    <!-- BEGIN Search Bar-->
    <body class="text-center">
        <div class="container">
            <form method="POST" class="form-signin" style="color:white">
                <h1>
                {{ person.hidden_tag() }}
                    Enter a criminals first name
                </h1>
                <br>
                {{ person.firstname(class="form-control", placeholder="Enter a name") }}
                <br>
                <h1>
                {{ person.hidden_tag() }}
                    Enter a criminals last name
                </h1>
                <br>
                {{ person.lastname(class="form-control", placeholder="Enter a name") }}
                <br>
    
    
                {{ person.submit(class="btn btn-lg btn-block btn-primary") }}
    
            </form>
        </div>
        <br/>
        <!-- BEGIN Display User Input-->
        {{ person.firstname.data }}
        {{ person.lastname.data }}
        <!-- End User Input-->
        <div class="container">
        <table class="table table-hover table-dark">
            <thead>
                <!-- Display columns of officer table -->
                <tr> 

                    {% for n in range(8) %}
                        <th scope="col"> {{coldata[n][0]}}</th>
                    {% endfor %}
                   
                </tr>
                {% for entry in data %}
                    <tr>
                        <td>{{ entry[0] }}</td>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[2] }}</td>
                        <td>{{ entry[3] }}</td>
                        <td>{{ entry[4] }}</td>
                        <td>{{ entry[5] }}</td>
                        <td>{{ entry[6] }}</td>
                        <td>{{ entry[7] }}</td>


                        <td>
                            <a href="{{ url_for('criminal_info', criminal_id=entry[0]) }}" class="btn btn-info">Get more info</a>
                            <!-- <button class="btn btn-outline btn-info">Get more info</button>
                            <button class="btn btn-outline btn-success">Look up this person</button> -->
                        </td>
                    </tr>
                {% endfor %}
            </thead>
        </table>
        </div>
    </body>
    <!-- END Search Bar-->

    

{% endblock %}