{% extends 'base.html' %}
{% block title %}
  Officers Page
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container">
            <br/>
                <form method="POST" class="form-signin">
                    <form method="POST" class="form-signin">
                        <div>{{ addOfficer.submit(class=" btn-lg btn btn-success") }}</div>
                        <br/>
                        <div>{{ addOfficer.firstname1(class="form-control", placeholder="Enter an officer firstname to add") }}</div>
                        <br/>
                        <div>{{ addOfficer.lastname1(class="form-control", placeholder="Enter an officer lastname to add") }}</div>
                        <br/>
            </form>
                </form>
                <form method="POST" class="form-signin">
                            <div>{{ deleteOfficer.submit(class=" btn-lg btn btn-danger") }}</div>
                            <br/>
                            <div>{{ deleteOfficer.firstname(class="form-control", placeholder="Enter an officer firstname to delete") }}</div>
                            <br/>
                            <div>{{ deleteOfficer.lastname(class="form-control", placeholder="Enter an officer lastname to delete") }}</div>
                            <br/>
                </form>
        </div>
    </body>
    <body class="text-center">
        <div class="container">
            <form method="POST" class="form-signin" style="color:white">
                <h1>
                {{ person.hidden_tag() }}
                    Enter a an officer first name
                </h1>
                <br>
                {{ person.firstname(class="form-control", placeholder="Enter a name") }}
                <br>
                <h1>
                {{ person.hidden_tag() }}
                    Enter a an officers last name
                </h1>
                <br>
                {{ person.lastname(class="form-control", placeholder="Enter a name") }}
                <br>
    
    
                {{ person.submit(class="btn btn-lg btn-block btn-primary") }}
    
            </form>
        </div>
    </body>
    <br></br>
    <!-- END Search Bar-->

    <!-- BEGIN Display User Input-->
    {{ person.firstname.data }}
    {{ person.lastname.data }}
    <!-- End User Input-->
    <!-- Show Officer Queries -->
    <p> Coldata {{coldata}} data {{data}}</p>
    <table class="table table-hover table-dark">
        <thead>
            <!-- Display columns of officer table -->
            <tr> 
                {% for column in coldata %}
                    <th scope="col"> {{column[0]}}</th>
                {% endfor %}
                <th scope="col"> Details </th>
            </tr>
            {% for entry in data %}
                <tr>
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] }}</td>
                    <td>{{ entry[2] }}</td>
                    <td>{{ entry[3] }}</td>
                    <td>{{ entry[4] }}</td>
                    <td>{{ entry[5] }}</td>
                    <td>{{ entry[6] }}</td>
                    <td>
                        <button class="btn btn-outline btn-info">Get more info</button>
                        <button class="btn btn-outline btn-success">Look up this person</button>
                    </td>
                </tr>
            {% endfor %}
        </thead>
    </table>
     <!-- Show Officer Queries -->
{% endblock %}